<!Doctype html>
<html>
    <head>
        <link href="{{ asset('bundles/valiknetcinema/css/bootstrap/bootstrap.min.css') }}" rel="stylesheet"/>
        <link href="{{ asset('bundles/valiknetcinema/css/common.css') }}" rel="stylesheet"/>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        <script src="{{ asset('bundles/valiknetcinema/js/jquery.js') }}"></script>
        <script src="{{ asset('bundles/valiknetcinema/js/common.js') }}"></script>
        <title>{% block title %}{% endblock %}</title>
    </head>

    <body>
        <div class="container">
            <div class="header navbar navbar-inverse">
                {% include "ValiknetCinemaBundle:layouts:nav.html.twig" %}
            </div>
            <div class="row marketing">
                {% block content %}
                {% endblock %}
            </div>
            <footer class="footer">
                (c) Valik Grinevich
            </footer>
        </div>
    </body>
</html>