{% for actor in country.actors %}
    <div class="col-lg-12">
        <div class="col-lg-12">
            <h4>{{ actor.name }} {{ actor.surname }}</h4>
        </div>

        <div class="col-lg-4">
            <img src="{{ actor.image }}" />
        </div>

        <div class="col-lg-8">
            Країна: {{ actor.country.name }}
        </div>

        <div class="col-lg-8">
            <p>Коротка історія: {{ actor.description }}</p>
        </div>

        <div class="col-lg-12">
            Перелік фільмів в яких знімається:
            {% for movie in actor.movies %}
                <a href="{{ path('valiknet_cinema_homepage', {"slug":movie.slug}) }}">{{ movie.name }}</a>
            {% endfor %}
        </div>
    </div>
{% else %}
    <div class="col-lg-12">
        <h3>В базі немає акторів з цієї країни</h3>
    </div>
{% endfor %}