{% for producer in country.producers %}
    <div class="col-lg-12">
        <div class="col-lg-12">
            <h4>{{ producer.name }} {{ producer.surname }}</h4>
        </div>

        <div class="col-lg-4">
            <img src="{{ producer.image }}" />
        </div>

        <div class="col-lg-8">
            Країна: {{ producer.country.name }}
        </div>

        <div class="col-lg-8">
            <p>Коротка історія: {{ producer.description }}</p>
        </div>

        <div class="col-lg-12">
            Перелік фільмів які режисерує:
            {% for movie in producer.movies %}
                <a href="{{ path('valiknet_cinema_homepage', {"slug":movie.slug}) }}">{{ movie.name }}</a>
            {% endfor %}
        </div>
    </div>
{% else %}
    <div class="col-lg-12">
        <h3>
            В базі немає режисерів з цієї країни
        </h3>
    </div>
{% endfor %}
