{% extends 'ValiknetCinemaBundle:layouts:layout.html.twig' %}

{% block title %}
    Головна сторінка
{% endblock %}

{% block content %}
    <div class="row">
        <h3>Найближчі релізи</h3>
        {% for movie in movies %}
            <div class="col-lg-6">
                <div class="col-lg-12">
                    <h2>
                        <a href="{{ path("valiknet_movie_index", {"slug":movie.slug}) }}">
                            {{ movie.name }}
                        </a>
                    </h2>
                </div>

                <div class="col-lg-4">
                    <img src="{{ asset(movie.basePoster) }}" class="poster-in-list" />
                </div>

                <div class="characters-movie col-lg-8">
                    <div class="col-lg-12">
                        Тип: {{ movie.type|filterTypeCinema }}
                    </div>

                    <div class="col-lg-12">
                        Режисер: <a href="{{ path("valiknet_director_index", {"slug" : movie.director.slug}) }}">{{ movie.director.name }} {{ movie.director.surname }}</a>
                    </div>

                    <div class="col-lg-12">
                        Дата релізу: {{ movie.releasedAt|date('Y-m-d') }}
                    </div>

                    <div class="col-lg-12">
                        Рейтинг:
                        <div class="btn btn-success">
                            <b>{{ movie.like }}</b>
                        </div>
                        /
                        <div class="btn btn-danger">
                            <b>{{ movie.dislike }}</b>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <p>{{ movie.description|slice(0, 150) }}...</p>
                </div>
            </div>
        {% else %}
            <h3>На жаль, в даний момент нових релізів не очікується</h3>
        {% endfor %}
    </div>
{% endblock %}