{% extends 'ValiknetCinemaBundle:layouts:layout.html.twig' %}

{% block title %}
    {{ director.name }} {{ director.surname }}
{% endblock %}

{% block content %}
    <div class="col-lg-12">
        <div class="col-lg-12">
            <h2>{{ director.name }} {{ director.surname }}</h2>
        </div>

        <div class="col-lg-4">
            <img src="{{ director.image }}" class="director-image"/>
        </div>

        <div class="characters-movie col-lg-8">
            <div class="col-lg-8">
                Країна: <a href="{{ path("valiknet_country_index", {"slug" : director.country.slug}) }}">{{ director.country.name }}</a>
            </div>

            <div class="col-lg-8">
                Дата народження:
            </div>
        </div>

        <div class="col-lg-8">
            <p>Коротка історія: {{ director.description }}</p>
        </div>

        <div class="col-lg-12">
            <h4>Перелік фільмів в яких режисерує:</h4>
            {% for movie in director.movies %}
                <div class="col-lg-6">
                    <div class="col-lg-12">
                        <h2>
                            <a href="{{ path("valiknet_movie_index", {"slug":movie.slug}) }}">
                                {{ movie.name }}
                            </a>
                        </h2>
                    </div>

                    <div class="col-lg-4">
                        <img src="{{ asset(movie.basePoster) }}" class="poster-in-list" />
                    </div>

                    <div class="characters-movie col-lg-8">
                        <div class="col-lg-12">
                            Тип: {{ movie.type|filterTypeCinema }}
                        </div>

                        <div class="col-lg-12">
                            Режисер: <a href="">{{ movie.director.name }} {{ movie.director.surname }}</a>
                        </div>

                        <div class="col-lg-12">
                            Дата релізу: {{ movie.releasedAt|date('Y-m-d') }}
                        </div>

                        <div class="col-lg-12">
                            Рейтинг:
                            <div class="btn btn-success">
                                <b>{{ movie.like }}</b>
                            </div>
                            /
                            <div class="btn btn-danger">
                                <b>{{ movie.dislike }}</b>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <p>{{ movie.description|slice(0, 150) }}...</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}